<table class="table" border="1px solid black">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Rating</th>
        <th scope="col">Default Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <th scope="row">{{u.id}}</th>
        <td>{{u.firstName}}</td>
        <td>{{u.lastName | replaceWithUpperCaseDot}} </td>
        <td>{{u.email}}</td>
        <td>
            <app-rating [targetScore]=u.score></app-rating>   
        </td>
        <td>
            <app-rating [targetScore]=u.score [isStar]=true></app-rating>   
        </td>
      </tr>
    </tbody>
  </table>